

body {
  background: url(../img/background.gif) no-repeat center center fixed;
  origin background-size: cover;
  background-size: cover;
  font-family: 'Fredoka One', cursive;
}

#result {
  display: none;
  margin-top: 2em;
  padding: 10px 40px;
  background: #FF69B4;
  width: 300px;
  border-radius: 25px;
}

.jumbotron {
  margin-top: 2em;
  line-height: 3;
  color: white;
  text-shadow: 0px 1px black;
  background: #FF69B4;
}
